html {
	margin: 0;
	padding: 0;
}

body {
	color: $color2;
	margin: 0 auto;
	font-family: $font;
	background-color: $color1;
}

a {
	color: $color5;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
}