/*--------------------*\
	transition
\*--------------------*/

@mixin transition($property) {
	-moz-transition: 	$property;
	-o-transition: 		$property;
	-webkit-transition: $property;
	transition: 		$property;
}