/*--------------------*\
	_variables.scss
\*--------------------*/

$font: 'Lucida Grande', Arial, sans-serif;

$color1: #333;	//Slate
$color2: #CCC;	//Smoke
$color3: #FFF;	//White
$color4: #8BD;	//Sky Blue

$hundred: 100%;
$max-width: 1024px;