/*--------------------*\
	header content
\*--------------------*/


.header {
	background-color: $color4;
	padding: 2em;

	h1.logo_title {
		margin: 1em 0;
		text-align: center;

		a.logo_link {
			text-decoration: none;
			font-weight: 100;
			color: $color6;
		}
	}

	ul.nav {
		list-style: none;
		text-align: center;
		margin: 1em 0;
		padding: 0;

		li {

			a {
				color: $color6;
				text-decoration: none;
				display: inline-block;
				width: 150px;
				padding: 0.5em;
				margin: 1em 0;
				border: 1px solid $color6;
				font-size: 1.3em;
			}
		}
	}
}

@media only screen and (min-width: $mobile) {
	
.header {

		h1.logo_title {
			text-align: left;
		}

		ul.nav {

			li {
				margin: 0em;
				display: inline-block;

				a {
					margin: 0;
				}
			}
		}
}
}